body {
    display: flex;
    flex-direction: column;

    background-color: var(--color-grey-2);
}

main {
    width: 100%;
    height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 25px;

    width: 70%;
}

.center > h1 {
    font-size: 2.25rem;
    color: var(--color-grey-7);
    font-weight: 700;
}

.center > p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-grey-7);

    line-height: 150%;
}

button {
    height: 60px;

    background-color: var(--color-brand-2);

    color: var(--color-grey-7);
    font-size: 1rem;

    border: none;

    border-radius: 8px;

    cursor: pointer;
}

button:hover {
    box-shadow: 5px 5px #520F84;
    transition: 0.6s;
}

aside {
    width: 100%;
    height: 50vh;

    display:flex;
    align-items: flex-start;
    justify-content: center;
}

aside > div {
    width: 200px;
    height: 200px;

    display:flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;

    box-shadow: 15px 15px #520F84;

    background-color: var(--color-brand-2);
}

img {
    width: 80px;
}

@media (min-width: 1023px){
    body{
        flex-direction: row;
    }

    main {
        height: 100vh;
    }

    aside {
        height: 100vh;
        align-items: center;
    }

    .center {
        width: 60%;
        gap: 30px;
    }

    aside > div {
        width: 65%;
        height: 40vh;
    }
}